:root {
  --font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 
                 'Helvetica Neue', sans-serif;
  --primary-gradient: linear-gradient(135deg, #f97316 0%, rgb(251, 191, 36) 100%);  
  --text-color: #74513D;
  --text-color-secondary: #ca6a25;
  --secondary-color: #06B6D4;           
}


* {
  font-family: var(--font-family);
  font-weight: 400;
}