$violet-100-color: #f8f9ff;
$violet-200-color: #eef4ff;   
$dark-600-color: #121c28;
$dark-400-color: #3C4A42;
    
$sea-green-800-color: #006c49;
$sea-green-600-color: #3C6C54;
$sea-green-400-color: #5e8f76;
$sea-green-200-color: #B7EBCE;    
$sea-green-50-color: #e7f8f2;

$swamp-400-color: #66726e;